body
	background-color: #efefef

body
	color: black

p
	border: 1px solid #000
	display: inline-block

@import 'libs.sass'

.slider-item
	background-color: #ccc
	width: 200px
	height: 400px
	padding: 50px
	margin: 0 20px

