<doctype html>
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="static/css/main.css")
		link(rel="stylesheet", href="node_modules/normalize.css/normalize.css")
		meta(name="viewport" content="width=device-width")
		title 
	body
		include modules/header-page.pug


		script(src="https://kit.fontawesome.com/5cd1ac997b.js" crossorigin="anonymous")
		script(src='static/js/libs.min.js')
		script(src='static/js/main.js')