.about-page
	.wrapper
		.about-title
			h2 know about us
			p.about-subtitle.description 
				|Nam liber tempor cum soluta nobis eleifend option 
				|congue nihil imperdiet doming id quod mazim 
	.about-body
		.wrapper
			.about-column
				.about-text
					h3 We Are the best
					p.about-desc 
						|Consectetuer adipiscing elit, sed diam nonummy 
						|nibh euismod tincidunt ut laoreet dolore magna aliquam erat
					p.about-desc
						|Volutpat wisi enim ad minim veniam, quis nostrud exerci tation 
						|ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
						|consequat. Duis autem vel eum iriure dolor in hendrerit in 
						|vulputate velit esse molestie consequat, vel illum dolore eu 
						|feugiat nulla facilisis at vero eros et accumsan et iusto odio 
						|dignissim qui blandit praesent luptatum zzril delenit augue duis 
						|dolore te feugait nulla facilisi. Nam liber tempor cum 
					.button-arrow.about-button
						a(href="#" class='about-button__link') Read more
						i(class="fas fa-long-arrow-alt-right")
				.about-img
					img(src="static/img/people.png")
	.services-body
		.wrapper
			.services-title
				h3 Services We provide
				p 
					|Volutpat wisi enim ad minim veniam, quis nostrud exerci tation 
					|ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
					|consequat. Duis autem vel eum iriure dolor in hendrerit in 
					|vulputate velit esse molestie consequat, vel illum dolore eu 
					|feugiat nulla facilisis at vero eros et accumsan et iusto odio 
					|dignissim qui blandit praesent
			.services-advantages
				.services-advantages__item
					<i class="fas fa-users"></i>
					h4 Consultancy
					p 
						|Claritas est etiam processus dynaicus qui 
						|sequitur mutationem consuetudium lectorum. 
						|Mirum est notare quam 
				.services-advantages__item
					<i class="fas fa-bullhorn"></i>
					h4 Maketing
					p 
						|Claritas est etiam processus dynaicus qui 
						|sequitur mutationem consuetudium lectorum. 
						|Mirum est notare quam 
				.services-advantages__item
					<i class="fas fa-vial"></i>
					h4 Reaserch
					p 
						|Claritas est etiam processus dynaicus qui 
						|sequitur mutationem consuetudium lectorum. 
						|Mirum est notare quam 
	.skills-body
		.wrapper
			h3.skills-title Our Skills
			.skills-item
				mixin skills-feature(title='Default Title')
					.skills-feature
						.skills-feature__img
							img(src="static/img/circle.png")
						p.skills-feature__desc= title
				+skills-feature('Marketing')
				+skills-feature('Reaserch')
				+skills-feature('Management')
				+skills-feature('Consultancy')
				+skills-feature('Promotion')





