.blog-page
	.wrapper
		.blog-title
			h2 our blog
			p.description
				|Nam liber tempor cum soluta nobis eleifend 
				|option congue nihil imperdiet doming id quod mazim 
		.blog-content
			mixin blog-item(id, title="Default Title")
				.blog-item(id=id)
					.blog-item__img
						img(src="static/img/blog.png")
					.blog-item__strips
					.blog-item__desc
						p.blog-item__date= title
						h4.blog-item__title Typi non habent claritatem insitam
						p.blog-item__text 
							|Duis autem vel eum iriure dolor in 
							|hendrerit in vulputate velit
							|esse molestie consequat, vel illum 
							|dolore eu feugiat nulla facilisis at 
							|vero eros et accumsan et iusto odio 
							|dignissim qui [...]
			mixin blog-item-inversion(id, title="Default Title")
				.blog-item_inversion(id=id)
					.blog-item__img_inversion
						img(src="static/img/blog.png")
					.blog-item__strips_inversion
					.blog-item__desc_inversion
						p.blog-item__date= title
						h4.blog-item__title Typi non habent claritatem insitam
						p.blog-item__text 
							|Duis autem vel eum iriure dolor in 
							|hendrerit in vulputate velit
							|esse molestie consequat, vel illum 
							|dolore eu feugiat nulla facilisis at 
							|vero eros et accumsan et iusto odio 
							|dignissim qui [...]
			+blog-item('','10 April 2014')
			+blog-item-inversion('','20 March 2014')
			+blog-item('','10 January 2014')
			+blog-item-inversion('blog-button','15 January 2015')
			button.blog-button(href="#blog_button" onclick="openbox('blog_button')") All<br> Post
