.header-page
	.header-menu
		.wrapper
			.header-nav
				.header-logo
					a.logo(href="#") Mairala
				ul.nav-item
					li.nav-link 
						a(href='#') Home
					li.nav-link 
						a(href='#') About
					li.nav-link 
						a(href='#') Portfolios
					li.nav-link 
						a(href='#') Team
					li.nav-link 
						a(href='#') Blog
					li.nav-link 
						a(href='#') Contact
	.header-content
		.wrapper
			p.header-subtitle Grab Your Copy Of
			h1.header-title 
				|The <span>Premium</span> Quality 
				|PSD Template For <span>free</span>
			.header-button
				a(class='header-button__link' href='#') Download
				i(class="fas fa-download")






