.project-page
	.wrapper
		h2.project-title Some Recent Projects
		p.project-subtitle.description 
			|Nam liber tempor cum soluta nobis eleifend option 
			|congue nihil imperdiet doming id quod mazim 
	mixin project-body
		.project-body
			.project-img
				.project-img__rectangle
					h4 PaperClips
					p Branding
				img(src="static/img/project-1.png")
			.project-img
				.project-img__rectangle
					h4 PaperClips
					p Branding
				img(src="static/img/project-2.png")
			.project-img
				.project-img__rectangle
					h4 PaperClips
					p Branding
				img(src="static/img/project-3.png")
			.project-img
				.project-img__rectangle
					h4 PaperClips
					p Branding
				img(src="static/img/project-4.png")
	+project-body
	.project-desc
		h3 LATEST FROM TWITTER
		p 
			|Trying out velositey - a simple website building extension for Photoshop. 
			|<a href="#">buff.ly/NC8gog</a>
	+project-body

	.button-arrow.project-button
		a(href="#") See all
		i(class="fas fa-long-arrow-alt-right")
	