.team-page
	.team-body
		.wrapper
			.team-title
				h2 Our Team Members
				p.about-subtitle.description 
					|Nam liber tempor cum soluta nobis eleifend 
					|option congue nihil imperdiet doming id quod mazim 
			.team-people
				mixin team-photo
					.team-card
						.team-card__sticker
							.team-card__icons
								i(class="fab fa-twitter")
								i(class="fab fa-facebook-f")
								i(class="fab fa-linkedin-in")
						.team-card__photo
							img(src="static/img/team.png", alt="")
						.team-card__desc
							h4 Mitchell Anderson
							p Creative Director
				+team-photo
				+team-photo
				+team-photo
		.team-slider
			.slider
				mixin slider-item
					.slider-item
						h3 What Our Clients are saying
						p 
							|“It was a pleasure to work with Imran. 
							|He is very dedicated and professional.</br> 
							|He worked very hard to satisfy our 
							|requirements and the communication was 
							|great.”
							|<span>John Doe </span>
							|<a>www.yourwebsite.zt</a>
				+slider-item
				+slider-item
				+slider-item